{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="{{ url_for('handle_search') }}">
      <div class="mb-3">
          <input type="text" class="form-control" name="query" id="query" placeholder="Enter your search query" value="{{ query }}" autofocus>
          <label for="semantic_search"> Use Semantic Search </label>
          <input type="checkbox" name="semantic_search" id="semantic_search" {% if semantic_search %}checked{% endif %}>
          <div class="form-group">
            <label for="author">Author</label>
            <input type="int" class="form-control" name="author" id="author" placeholder="Enter author id" value="{{ author }}">
            <!-- 
            <select type="select" name="author" class="form-control" id="author">
              <option value="-1" {% if author == -1 %}selected{% endif %}>Default None</option>
              <option value="1" {% if author == 1 %}selected{% endif %}>1 - Blomkvist Karlsson, Vera</option>
              <option value="8" {% if author == 8 %}selected{% endif %}>8 - Fredrikson, Rasmus</option>
              <option value="64" {% if author == 64 %}selected{% endif %}>64 - Jafari, Mikael</option>
              <option value="967" {% if author == 967 %}selected{% endif %}>967 - Halvardsson, Gustaf</option>
              <option value="334" {% if author == 334 %}selected{% endif %}>334 - Lundén, Daniel</option>
            </select> -->
          </div>
          <button type="submit" class="btn btn-primary mt-2">Search</button>
      </div>
    </form>
    {% if results %}
        <div class="row mb-3">
            <div class="col-2 mt-2">
                <p><a href="javascript:history.back(1)">← Back</a></p>
                {% for agg in aggs %}
                    <h6 class="mt-3">{{ agg }}</h6>
                    {% for key, count in aggs[agg].items() %}
                        <form method="POST">
                            <input type="hidden" name="query" value="{{ agg|lower }}:{{key}} {{ query }}">
                            <button type="submit" class="btn btn-link btn-sm"{% if aggs[agg]|length == 1 %} disabled{% endif %}>{{ key }} ({{ count }})</button>
                        </form>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="col-10">
                <div class="row mb-3">
                    <div class="col-sm-auto my-auto">
                        Showing results {{ from_ + 1 }}-{{ from_ + results|length }} out of {{ total }}.
                    </div>
                    {% if from_ > 0 %}
                        <div class="col-sm-auto my-auto">
                            <a href="javascript:history.back(1)" class="btn btn-primary">← Previous page</a>
                        </div>
                    {% endif %}
                    {% if from_ + results|length < total %}
                        <div class="col-sm-auto my-auto">
                            <form method="POST">
                                <input type="hidden" name="query" value="{{ query }}">
                                <input type="hidden" name="author" value="{{ author }}">
                                <input type="hidden" name="from_" value="{{ from_ + results|length }}">
                                
                                <input style="display:none" type="checkbox" name="semantic_search" id="hidden_semantic_search" {% if semantic_search %}checked{% endif %}>
                                <button type="submit" class="btn btn-primary">Next page →</button>
                            </form>
                        </div>
                    {% endif %}
                    <div class="col"></div>
                </div>
                {% for result in results %}
                    <p>
                        {{ from_ + loop.index }}. <b><a href="{{ url_for('get_document', id=result._id) }}">{{ result._source.Title }}</a></b>
                        <br>
                        {% for author in result._source.Authors %}
                            {{ author }};
                        {% endfor %}
                        <br>
                        <small>
                            <!-- Category: {{ result._source.category }}.
                            Last updated: {{ result._source.updated_at | default(result._source.created_on) }}. -->
                            {% if result._score %}<i>(Score: {{ result._score }})</i>{% endif %}
                        </small>
                    </p>
                {% endfor %}
            </div>
        </div>

        <!-- <script>
                const checkbox = document.getElementById('semantic_search');
                const hiddenInput = document.getElementById('hidden_semantic_search');
            
                if (checkbox && hiddenInput) {
                    checkbox.addEventListener('click', function() {
                        if (this.checked) {
                            hiddenInput.value = "True";  // set to "True" if checked
                        } else {
                            hiddenInput.value = "False";      // clear if unchecked
                        }
                    });
                }
        </script> -->
            
    {% elif request.method == 'POST' %}
        <p>No results found.</p>
    {% endif %}
{% endblock %}
